mixin scripts(data)
    script(src='%=static=%js/libraries/jquery.min.js')
    script(src='%=static=%js/libraries/bootstrap/js/bootstrap.min.js')
    script(src='%=static=%js/libraries/owl/owl.carousel.min.js')
    script(src='%=static=%js/main.js')