mixin nav (data, name)
    -
        var items =  {
        "href": "Пункт4",
        "href2": "Пункт2",
        "href3": "Пункт3"
        }

    ul.nav__list&attributes(attributes)
            each item in data.items
                li(class=((item.href == "index.html") ? "active" : ""))
                    a(href= item.href) #{item.text}
                        if (data.dropdown == true)
                        ul.nav__dropdown&attributes(attributes)
                            each item in data.items
                                li(class=((item.href == "index.html") ? "active" : ""))
                                    a(href= item.href) #{item.text}