doctype html
html(lang="ru")
    include ../components/footer/scripts/scripts
    include ../components/head/head
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        .wrapper
            section.content

            //- Include your components here

        .footer
            +footer()

        +scripts()
