doctype html
html(lang="ru")
    include ../components/head/scripts/scripts.pug
    include ../components/head/head.pug
    include ../components/footer/footer.pug
    include ../components/logo/logo.pug
    include ../components/nav/nav.pug

    head
        +head(head.defaults)
    body
        .wrapper
            section.content
                +logo(logo.content)
                +menu(menu.items, menu.content)

            //- Include your components here

        .footer
            +footer()

        +scripts()