// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

%clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

@mixin inlineblock($valign: top) {
    display: inline-block;
    vertical-align: $valign;
}