mixin contacts-info(data)
    .contacts-info
        .contacts-info__location ул. Абстрактная 5 офис 17
        a.contacts-info__phone(href="tel:+1234567890") Телефон +7 (112)263-14-08
        a.contacts-info__mail(href="mailto:mymail@html.ru") mymail@html.ru


